{% extends 'base.html.twig' %}

{% block title %}Log in!

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bookAnimation.css') }}">
{% endblock %}

{% block body %}


    <div class=" min-h-full min-w-full overflow-hidden flex-1">
        <div class="text-3xl z-0 text-center">
            Connectez-vous afin de profiter de toutes les fonctionnalités du site.
        </div>
        <div class="container top-45">
            <div class="cover">
                <figure id="front" class="flex items-center">
                    <div class="figureImg logo">
                        <div class="text-center text-4xl pt-6">
                            REGISTRE DES LOGINS
                        </div>
                    </div>
                </figure>
                <figure id="back"></figure>
            </div>
            <form method="post" class="p-6">
                

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as
                        {{ app.user.username }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="w-full max-w-xs">
                    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <label for="inputUsername" class="block text-gray-700 text-sm font-bold mb-2">
                                Nom d'utilisateur
                            </label>
                            <input value="{{ last_username }}" name="Username" id="inputUsername" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder=" johndoe" required autofocus>
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="inputPassword">
                                Mot de passe
                            </label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="password" id="inputPassword" type="password" placeholder="******************" required>
                        </div>
                        <div class="flex items-center justify-between">
                            <button class="bg-blue-parakeet hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                                Se connecter
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>

                {% if error %}
                    <div class="alert alert-danger text-red-600 ml-8 mr-8">{{ error.message | replace({"Username could not be found." : "Le pseudonyme utilisé afin de vous connecter n'est pas valide"}) }}</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
