<div class="bg-white w-full flex flex-row flex-wrap">
    {% for element in array %}
        <a href="/{{ path }}/{{ attribute(element, index) }}" class="w-1/5 p-4">
            <div class="rounded overflow-hidden shadow-3xl">
                <img class="h-144 w-full" src="{{ attribute(element, image) }}" alt="{{ attribute(element, text) }}">
                <div class="font-bold text-lg mb-2 px-6 py-4 h-24 flex items-center justify-center text-center">{{ attribute(element, text) }}</div>
            </div>
        </a>
    {% endfor %}
</div>
