{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bookAnimation.css') }}">
{% endblock %}

{% block body %}
    <div class=" min-h-full min-w-full overflow-hidden flex-1">
        <div class="text-3xl z-0 text-center">
            Détails de l'oeuvre
        </div>
        <div class="container top-45">
            <div class="cover">
                <figure id="front" class="flex items-center">
                    <div class="figureImg" style="background-image: url('{{ book.CoverImage }}');"></div>
                </figure>
                <figure id="back"></figure>
            </div>

            <div class="p-6 h-full overflow-y-auto">
                <h1 class="font-bold text-center small-caps text-xl inline">{{ book.Title }}</h1><br>
                <h2 class="font-semibold inline">Auteur :
                </h2>
                <p class="inline">{{ book.AuthorFirstName }}
                    {{ book.AuthorLastName }}</p><br>
                <h2 class="font-semibold inline">Editeur :
                </h2>
                <p class="inline"></p>
                {{ book.Editor }}</p><br>
            <h2 class="font-semibold inline">{{ book.NumberPages }}
                pages</h2><br>
            <h2 class="font-semibold inline">Résumé :</h2><br>
            <p>{{ book.Summary }}</p><br>
            <h2 class="font-semibold mb-6">Extrait :
                <a href="{{ book.ExtractLink }}">{{ book.ExtractLink }}</a>
            </h2>
        </div>
    </div>
</div>{% endblock %}
