{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if books is defined %}
        <div class="bg-white pt-4 w-full flex flex-row flex-wrap">
            {% for book in books %}
                <a href="/book/{{book.Id}}" class="w-1/4">
                    <div class="m-4 rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="{{ book.CoverImage }}" alt="{{ book.Title }}">
                        <div class="font-bold text-xl mb-2 px-6 py-4 h-24 flex items-center justify-center text-center">{{ book.Title }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>

    {% elseif categories is defined %}

        <div class="px-4 bg-white pt-4 w-full">
            {% for category in categories %}
                <a href="/categories/{{category.Name}}">{{category.Name}}</a><br>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}
